@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Business.Consult> customers = ViewBag.Customers;
    var c = customers[0];
    ViewData["Title"]="Editar Cliente #"+c.Id;
}
@model FormModel
<div class="text-Left">
    <div class="text-left">
        <h1 class="display-6">@ViewData["Title"]</h1>
        <form name="CustomForm" id="CustomForm" asp-action="Edit" asp-controller="ViewCustomers" method="post">

            <div id="fcliente">
                <label for="cliente">:Cliente</label>
                <input type="text" id="cliente" name="cliente" value="@c.Cliente" />
            </div>
            <div id="ftipocliente">
                <label for="tipocliente">:Tipo Cliente</label>
                <input type="text" id="tipocliente" name="tipocliente" value="@c.TipoCliente" />
            </div>
            <div id="fnome">
                <label for="nome">:Nome</label>
                <input type="text" id="nomecontato" name="nomecontato" value="@c.Nome" />
            </div>
            <div id="ftelefone">
                <label for="telefone">:Telefone</label>
                <input type="text" id="telefonecontato" name="telefonecontato" value="@c.Telefone" />
            </div>
            <div id="fcidade">
                <label for="cidade">:Cidade</label>
                <input type="text" id="cidade" name="cidade" value="@c.Cidade" />
            </div>
            <div id="fbairro">
                <label for="bairro">:Bairro</label>
                <input type="text" id="bairro" name="bairro" value="@c.Bairro" />
            </div>
            <div id="flogradouro">
                <label for="logradouro">:Logradouro</label>
                <input type="text" id="logradouro" name="logradouro" value="@c.Logradouro" />
            </div>
            <div id="fdatacad">
                <label for="datacad">:Data Cadastro</label>
                <input type="text" id="datacad" name="datacad" value="@c.DataCadastro" />
            </div>
            <div id="fdataatt">
                <label for="dataatt">:Data Atualização</label>
                <input type="text" id="dataatt" name="dataatt"value="@c.DataAtualizacao" />
            </div>
            <div id="fText">
                <input type="submit" class="sub" onclick="send();" value="Enviar" />
            </div>
        </form>
        @if (ViewBag.Success!=null && ViewBag.Success==true) {
            <div>
                Cadastro Atualizado
            </div>
        }
    </div>
</div>